.MyTitle
{

color: #305496;

font-size: 40px;
 
text-align: center;

font-weight: bold;
	
}

.MySubtitle{
	
font-size:25px;

text-align: center;
	
}

.BodyText{
	
font-size:15px;

}

.MyCrosstab
.sapzencrosstab-ColumnHeaderArea .sapzencrosstab-HeaderCellDefault, 
 
.sapzencrosstab-ColumnHeaderArea .sapzencrosstab-HeaderCellAlternating,  

.sapzencrosstab-DimensionHeaderArea .sapzencrosstab-HeaderCellAlternating, 
 
.sapzencrosstab-DimensionHeaderArea .sapzencrosstab-HeaderCellDefault


{

color: blue!important;

}



.CrosstabDimensions.sapzencrosstab-DimensionHeaderArea
 
{
	
	color: #305496;

}
